* {
    font-weight: 100;
    font-family: 'Bubblegum Sans', cursiva;
}
h1 {
    color: #000000;
    background-color: #d10b33;
    padding: 20px, 50px;
    height: 100px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
} 