* {
    font-weight: 10;
    font-family: 'Bubblegum Sans', cursiva;
}
h1 {
    color: #3e008e;
    padding-left: 15px;
    text-shadow: 3px 5px 3px #7147a9;

} 
h2 {
    background: #ffecff;
    display: inline-block;
    padding: 50px;    
    box-sizing: border-box;
    text-align: center;
    margin: 20px, 10px;
    border-radius: 2em;
    border: 3px dashed rgba(255, 0, 140, 0.989);
    box-shadow: 5px 10px 9px 3px #302f2f;
    text-shadow: 4px 8px 3px rgb(255, 109, 194);
    transform: rotate(-5deg);
}
b {
    color: #bd016b;
}